clojure/target
clojure/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
clojure/.lein-*
clojure/.nrepl-port
clojure/bin
clojure/.settings/ccw.*

# Python files
python/tresjolie/__pycache__/
python/*.py[cod]
